*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;

}
.nav-bar{
    height:64px ;
    /* background-color: aqua; */
    display: flex;
    margin: 0 24px;
    align-items: center;
}

li, a{
    text-decoration: none;
    list-style: none;
}
.nav-name{
    display: flex;
}
.nav-name-thin{
    font-weight: thin;
}
.nav-list{
    display: flex;
    gap: 16px;
    flex: 1;
    justify-content: flex-end;
}
.hero{
    height: 100vh;
    background: rgb(223, 221, 221);
 display: flex;
}
.hero-left{
    margin: 32px 24px;
    /* background: red; */
    flex: 1;
    overflow: hidden;
    position: relative;
}
.img-left{
height: 100%;
    width: 60%;
    object-fit: cover;
}
.hero-right{
    /* background: blue; */
    flex: 1;
    padding: 24px;
    align-items: center;
    display: flex;
}
.hero-text{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   /* align-items: center; */
/* background: yellow; */
}
.hero-text1{
    font-size: 60px;
    color: rgb(70, 69, 69);
}
.hero-text2{
    font-size: 24px;
    color:rgb(70, 69, 69) ;
    /* background: darkblue; */
}
.hero-btn{
padding: 8px 0;
width: 100%;
font-size: 30px;
background-color: rgb(70, 69, 69);
color:aliceblue;
}
